@model IEnumerable<aspnetfirst.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<h3>Matches</h3>
<table>
    <thead>
 

        <tr>
            <th>Name_of_person</th>
            <th>TeamHomeName</th>
            <th>TeamGuestName</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var Item in Model)
            {
                
                @foreach (var user in Item.UserMatches)
                {
                    <tr>
                    <td>@Html.DisplayFor(model => user.User.UserName)</td>
                    <td>@Html.DisplayFor(model => Item.Team_home.TeamName)</td>
                    <td>@Html.DisplayFor(model => Item.Team_guest.TeamName)</td>
                    </tr>
                 }

            }
    </tbody>
</table>