
@model aspnetfirst.Models.User
@{
    ViewData["Title"] = "Register";
}

<h2 class="text-light">Register</h2>

<h2  class="text-light" >Регистрация нового пользователя</h2>
<form method="post" asp-controller="Users" asp-action="Register">
    <div asp-validation-summary="ModelOnly"/>
    <div class="d-flex align-items-center justify-content-center text-light" style="height:600px;">
        <div>
            <div class="form-group text-center">
                <label class="col-form-label text-light" asp-for="UserName"></label><br />
                <input class="form-control" asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="form-group text-center">
                <label class="col-form-label text-light" asp-for="UserPassword"></label><br />
                <input class="form-control" asp-for="UserPassword" />
                <span asp-validation-for="UserPassword"></span>
            </div>
            <div class="form-group text-center">
                <input class="btn btn-outline-light" type="submit" value="Регистрация" />
            </div>
            </div>
        </div>
</form>
<a class="btn btn-outline-light" asp-action="login">Вернуться</a>