@model aspnetfirst.Models.ScoreStatistic

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ScoreStatistic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScoreStatisticId" />
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numberofpenalty" class="control-label"></label>
                <input asp-for="Numberofpenalty" class="form-control" />
                <span asp-validation-for="Numberofpenalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberofyellowCard" class="control-label"></label>
                <input asp-for="NumberofyellowCard" class="form-control" />
                <span asp-validation-for="NumberofyellowCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numberofredcard" class="control-label"></label>
                <input asp-for="Numberofredcard" class="form-control" />
                <span asp-validation-for="Numberofredcard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchId" class="control-label"></label>
                <select asp-for="MatchId" class="form-control" asp-items="ViewBag.MatchId"></select>
                <span asp-validation-for="MatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
